*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}

body{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 10px;
}

section{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    text-align: center;
    position: relative;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}
  
tr:nth-child(even) {
    background-color: #f1f1f1;
}

.updateImg{
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px;
    border: 1px solid #dddddd;
    background-color: #f1f1f1;
}

.add-new-img{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.prev{
    padding: 6px;
    position: absolute;
    left: 10px;
    top: 125px;
}

.next{
    padding: 6px;
    position: absolute;
    right: 10px;
    top: 125px;
}

#img-container{
    width: 450px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;

    & img{
        width: 100%;
    }
}

#dot-container{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;

    & .dot{
        width: 15px;
        height: 15px;
        background-color: #ccc;
        border-radius: 50px;
        cursor: pointer;
    }

    & .active{
        background-color: #8f8f8f;
    }
}